body {
  color: #493027;
  padding: 0;
  margin: 0;
  background-color: #fff5e5;
}

.web-site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/************************** Navbar **************************/
.header-image-container img {
  width: 50%;
}

header {
  background-color: #fff5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 10%;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  height: 100%;
}

nav a {
  width: 10rem;
  text-align: center;
  text-decoration: none;
  color: #493027;
  border: 1px solid #fba93a;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

nav a.selected {
  background-color: #fba93a;
}

/************************** Footer **************************/
footer {
  background-color: #493027;
  color: #fff5e5;
  text-align: center;
  height: 10vh;
  padding-top: 3%;
}

/************************** Home Page **************************/

.header-image-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-image-container section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-image-container section h1 {
  font-size: 3rem;
}

.btn-container {
  padding-top: 30px;
}

.btn-container button {
  width: 10em;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #493027;
  border-radius: 5px;
}

#sign-up-btn {
  background-color: #493027;
  color: #fff5e5;
}
#log-in-btn {
  background-color: #fff5e5;
}

#sign-up-btn:hover,
#log-in-btn:hover {
  background-color: #fba93a;
  color: #493027;
}

/************************** Log In Page **************************/

.log-in-page {
  text-align: center;
  height: 100%;
}

.log-in-page h1 {
  padding: 2rem;
}

.log-in-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-page .inputs {
  padding: 20px;
  min-width: 30%;
  display: flex;
  justify-content: space-between;
}

.log-in-page button {
  background-color: #493027;
  color: #fff5e5;
  width: 10em;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}

input {
  width: 15rem;
  margin: 20px;
}

/************************** Sign Up Page **************************/

.sign-up-page {
  text-align: center;
  height: 100%;
}

.sign-up-page h1 {
  padding: 2rem;
}

.sign-up-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-page .inputs {
  padding: 20px;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sign-up-page .inputs input[type="checkbox"] {
  padding: 0px;
  text-align: left;
}

.sign-up-page button {
  background-color: #493027;
  color: #fff5e5;
  width: 10em;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}

input {
  width: 15rem;
  margin: 20px;
}

/************************** About Us Page **************************/
.about-us-page {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-us-page h1 {
  padding: 2rem;
}

.about-us-page p {
  width: 50vw;
}

.important {
  color: #fba93a;
  font-style: italic;
}

.about-team-content {
  display: flex;
}

.about-team-content article {
  width: 20vw;
}

.about-team-content img {
  width: 100px;
}

#vera-img {
  border-radius: 100px;
}

/***************** Admin Page ***********************/
.admin-page {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.admin-page h1 {
  padding: 2rem;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  width: 15vw;
  border: 1px solid #493027;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20vh;
}

.admin-text {
  color: #fba93a;
  font-style: italic;
}

.user-card button {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  border: none;
  background-color: #493027;
  color: #fff5e5;
  min-height: 8vh;
}

/****************** Profile Page ***********************/

.profile-page {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-page h1 {
  padding: 2rem;
}

.profile-page a {
  text-decoration: none;
  color: #493027;
}

.day-container {
  display: flex;
  flex-wrap: wrap;
}

.day-card {
  width: 15vw;
  border: 1px solid #493027;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20vh;
  padding-bottom: 10px;
}

.actions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.actions-container button {
  width: 50%;
  background-color: #493027;
  color: #fff5e5;
  min-height: 5vh;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #fba93a;
}

.actions-container a {
  text-decoration: none;
  color: #fff5e5;
}

/************ Day Page *******************/

.day-page {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.question-note-container {
  display: flex;
  border: 1px solid #493027;
  border-radius: 10px;
  width: 50vw;
  padding: 10px;
  justify-content: space-between;
  margin: 5px;
  box-shadow: 3px 3px 3px #fba93a;
}

.question-note-container h3 {
  width: 40%;
  text-align: left;
}

.question-note-container p {
  width: 60%;
  text-align: left;
}

.prominent-btn {
  color: #493027;
  font-weight: 600;
  font-size: larger;
  background-color: #fba93a;
  border: 1px solid #fba93a;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 20px;
}

/************* Question Page ********************/

.question-page {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.question-page h1 {
  padding: 2rem;
}

.question-box {
  width: 60vw;
  border: 1px solid #493027;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #fba93a;
}

.question-box textarea {
  margin: 20px;
}

/************** Edit Day Page ********************/
.edit-day-page {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.edit-day-page h1 {
  padding: 2rem;
}

.edit-day-page textarea {
  width: 60%;
}

.btn-container {
  display: flex;
}

.not-so-prominent-btn {
  border: 1px solid #fba93a;
  font-weight: 600;
  font-size: larger;
  background-color: #fff5e5;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 20px;
}
